.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
}

#todo {
    padding: 10px;
    margin: 5px;
    width: 250px
}

button {
    color: black;
    background-color: #cff8d3;
    padding: 10px;
    border-radius: 10px;
}